body {
    color: #fff;
}

/*------------------------------------------------------ Header Section -------------------------------------------------------------------------*/

#header {
    background-color: #192133;
    position: sticky;
    top: 0;
    z-index: 1;
}

.right-nav {
    margin-left: 20px;
    align-items: flex-end;
}

.right-side-links {
    display: flex;
    justify-content: right;
}

/*-------------------------------------------------- Shows Recomendation Section ----------------------------------------------------------------*/

#shows-recomendation {
    color: #fff;
    padding: 10px;
    background-color: #121723;
}

.recomendation {
    margin-left: 3%;  
}

.recomendation-item {
    height: 30rem;
    width: 97%;
}

.first-section-shows, .third-section-shows, .fourth-section-shows, .fifth-section-shows, .sixth-section-shows {
    display: flex;
    overflow-x: scroll;
}
.second-section-shows {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
}

.second-section-shows .shows {
    width: 2px;
    height: 50px;
    margin: 30px;
}

.first-section-shows::-webkit-scrollbar{
    display: none;
}



.shows {
    margin-right: 10px;

}

.shows img{
    height: 200px;
    border-radius: 10px;   
}

--------------------------------------------------- Footer Section ----------------------------------------------------------------------*/

#footer {
    background-color:  #121723;
    color: #fff;
    
}

.ful{
    padding-left: 0; 
}

p {
    
}

.f-links {
    display: inline-block;
}
















